* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Space Mono";
}

body {
  text-align: center;
  background-color: #c5e4e7;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  background-color: white;
  border-radius: 1.5rem 1.5rem 0 0;
  text-align: start;
  padding: 2.5em 2em;
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.375em;
  color: #3d6666;
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

label,
legend {
  color: #5e7a7d;
}

.input-primary {
  display: flex;
  align-items: center;
  background-color: #f3f9fa;
  padding: 0.375em 1em;
  border-radius: 0.5em;
  margin-top: 0.5em;
}

.input-primary:focus-within {
  outline: #26c2ae solid;
}

.error:focus-within {
  outline: #e17052 solid;
}
.error {
  outline: #e17052 solid;
}

.input-primary img {
  height: 100%;
}
.input-primary input {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  text-align: right;
  background-color: #f3f9fa;
  color: #00474b;
}

.tips-selection {
  margin: 1em 0;
}

.tips-selection div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1em 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .tip-label {
  background-color: #26c2ae;
  color: #00474b;
}

.tip-label {
  cursor: pointer;
  transition: all ease 0.3s;
}

.tip-label:hover {
  background-color: #9fe8df;
  color: #00474b;
}

.tip-label,
#tip-custom {
  font-size: 1.5rem;
  color: white;
  background-color: #00474b;
  width: calc(50% - 0.5rem);
  text-align: center;
  padding: 0.25em 0;
  border-radius: 0.25em;
}

#tip-custom {
  background-color: #f3f9fa;
  font-size: 1.5rem;
  font-weight: 700;
  color: #547878;
  text-align: right;
  padding-right: 1em;
  width: calc(50% - 1em - 0.5rem);
}

#tip-custom:focus {
  outline: #26c2ae solid;
}

.people-count-label--container {
  display: flex;
  justify-content: space-between;
}
.error-message {
  color: #e17457;
}

.summary {
  background-color: #00474b;
  border-radius: 1em;
  padding: 2em 1.5em 1.5em;
  margin-top: 2em;
}

.summary__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25em;
}

.summary__heading {
  color: white;
}

.summary__subheading {
  color: #7f9d9f;
  font-size: 0.75rem;
}

.summary__amount {
  color: #26c2ae;
  font-size: 2rem;
}

.reset-btn {
  color: #00474b;
  background-color: #26c2ae;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 100%;
  cursor: pointer;
  padding: 0.75em 0;
  border-radius: 0.5em;
  transition: all ease 0.3s;
}

.reset-btn:hover {
  background-color: #9fe8df;
}

.reset-btn.disabled,
.reset-btn.disabled:hover {
  background-color: #0d686d;
  color: #00474b;
  cursor: default;
}

@media (min-width: 750px) {
  main {
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 90%;
    max-width: 920px;
    border-radius: 1.5rem;
    margin-bottom: 1em;
  }

  .title {
    font-size: 2rem;
    height: fit-content;
  }

  form {
    display: flex;
    gap: 2em;
  }

  .calculator {
    width: 53%;
  }
  .summary {
    width: 47%;
  }

  .tip-label {
    width: calc(33.3333% - 1rem);
  }

  #tip-custom {
    padding-right: 0.5em;
    width: calc(33.3333% - 0.5em - 1rem);
  }

  .summary {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .summary__row {
    margin-bottom: 2em;
  }

  .summary__amount {
    font-size: 3rem;
  }

  .reset-btn {
    margin-top: auto;
  }
}
